<template>
  <div id="app">
    <WebSocketComponent />
  </div>
</template>

<script>
    import WebSocketComponent from "./components/WebSocketComponent";

    export default {
        name: 'app',
        components: {WebSocketComponent},
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<style lang="scss">
</style>
