<template>
  <section class="container">
    <!-- Main container -->
    <nav class="level container">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>Web</strong> Sockets
          </p>
        </div>

        <div class="level-item">
          <b-switch type="is-success" v-model="isConnected">
            {{isConnected?'Connected':'Disconnected'}}
          </b-switch>
        </div>
        <div class="level-item">
          <b-button rounded class="button" @click="clearMessages()">
            Clear {{received_messages.length}} message(s)
          </b-button>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <div class="field has-addons">

<!--            <p class="control">-->
<!--              <input class="input" type="text" placeholder="Find a post" v-model="send_message">-->
<!--            </p>-->
<!--            <p class="control">-->
<!--              <button class="button ml-2" @click="send">-->
<!--                Send-->
<!--              </button>-->
<!--            </p>-->
          </div>
        </div>
      </div>
    </nav>


<!--    <b-field label="Name">-->
<!--      <b-input v-model="name"></b-input>-->
<!--    </b-field>-->

<!--    <b-field label="Message">-->
<!--      <b-input maxlength="200" type="textarea"></b-input>-->
<!--    </b-field>-->
    <section>
      <div class="columns">
        <div class="column">
          <table id="conversation" class="table table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Greetings</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in received_messages" :key="index">
              <td>{{ index }}</td>
              <td>{{ item }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <b-tabs v-model="activeTab">
            <b-tab-item label="Stomp Client">
              <pre>{{stompClient}}</pre>

            </b-tab-item>

            <b-tab-item label="Sessions">
              <b-button rounded class="button" @click="receiveSessions">Update</b-button>
              <b-field label="Message">
                <b-input v-model="send_message" maxlength="200" type="textarea"></b-input>
              </b-field>

              <table id="sessions" class="table table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Sessions ID</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in sessionsList" :key="index">
                  <td>{{ index }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <b-button rounded class="button" type="is-danger" size="is-small" @click="deleteSession(item.name)">
                      Remove
                    </b-button>
                  </td>
                  <td>
                    <b-button rounded class="button" type="is-info" size="is-small" @click="sendMessageTo(item.name)">
                      Send Message
                    </b-button>
                  </td>
                </tr>
                </tbody>
              </table>
            </b-tab-item>

            <b-tab-item label="Info">

            </b-tab-item>
          </b-tabs>

        </div>
      </div>

    </section>

  </section>
</template>

<script>


    export default {
        name: "WebSocketComponent",
        data() {
            return {
                isConnected: false,
                isActive: true,
                name: '',
                stompClient: null,
                received_messages: [],
                send_message: null,
                activeTab: 0,
                sessionsList: []
            }
        },
        mounted() {
            this.isConnected = false
        },
        methods: {
            clearMessages() {
                this.received_messages = []
            },
            sendMessageTo(sessionId) {
                this.axios.post("/api/sessions/" + sessionId, {name: this.send_message}, {}).then(res => {
                    console.log(res.data)
                })
            },
            send() {
                if (this.stompClient && this.stompClient.connected) {
                    const msg = {name: this.send_message};
                    console.log(JSON.stringify(msg));
                    this.stompClient.send("/app/hello", JSON.stringify(msg), {});
                }
            },
            receiveSessions() {
                this.axios.get("/api/sessions").then(res => {
                    this.sessionsList = res.data
                })
            },
            connect() {
                this.socket = new this.SockJS("http://localhost:8080/gs-guide-websocket");
                this.stompClient = this.Stomp.over(this.socket);
                this.stompClient.connect(
                    {},
                    frame => {
                        this.connected = true;
                        console.log(frame);
                        this.stompClient.subscribe("/topic/greetings", tick => {
                            console.log(tick);
                            this.received_messages.push(JSON.parse(tick.body).content);
                        });
                        this.stompClient.subscribe("/user/queue/reply", tick => {
                            console.log(tick);
                            let parse = JSON.parse(tick.body);
                            if(parse.content){
                                this.received_messages.push(parse.content + " " + parse.session);
                            }
                            if(parse.name){
                                this.received_messages.push(parse.name);
                            }

                        });
                        // this.stompClient.on('DISCONNECT',e=>{
                        //     console.log("Stomp Client Disconnected!")
                        // })
                    },
                    error => {
                        console.log(error);
                        this.connected = false;
                    }
                );
            },
            deleteSession(sessionName) {
                this.axios.delete("/api/sessions/" + sessionName).then(res => {
                    console.log(res.data)
                    this.receiveSessions()
                })
            },
            disconnect() {
                console.log('Disconnect')
                if (this.stompClient) {
                    console.log(this.stompClient)
                    this.stompClient.disconnect();
                }
                this.isConnected = false;
            },
            tickleConnection() {
            }
        }, watch: {
            isConnected(val) {
                if (!val) {
                    this.disconnect()
                } else {
                    this.connect()
                }
            }
        }
    }
</script>

<style scoped>

</style>
